<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SOUNDLE</title>

  <link href="assets/img/soundle-light.PNG" rel="icon">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

  <link href="/assets/css/styles.css" rel="stylesheet">
 

</head>

<body>

  <header >

      <div id=header>
          <div id=img>
            <img src="assets/img/soundly-dark.PNG">
          </div>
          <div id=list>
              <ul id=#outer>
                  <a href="#"><li>About Us</li></a>
                  <a href="#"><li>Signs</li></a>
                  <li class="dropdown" >
                      <a href="#">Spaces</a>
                     <ul hidden>
                        <a><li>Live Interaction</li></a>
                        <a><li>Post</li></a>
                     </ul>
                  </li>
                  <li class="dropdown" >
                    <a href="#">Practice</a>
                   <ul hidden>
                      <a href="#"><li>Practice</li></a>
                      <a href="#"><li>Quiz</li></a>
                      <a href="#"><li>Talk With ASL</li></a>
                   </ul>
                </li>

                 <li class="dropdown" >
                      <a href="#">Translate</a>
                     <ul hidden>
                        <a href="#"><li>English to ASL</li></a>
                        <a href="#"><li>ASL to English</li></a>
                     </ul>
                  </li>

                  <li class="dropdown" >
                    <a href="#">Empower</a>
                   <ul hidden>
                      <a href="#"><li>Jobs Near Me</li></a>
                      <a href="#"><li>Blogs</li></a>
                     <a href="#"><li>Volunteer</li></a>
                     <a href="#"><li>Connect With Volunteers</li></a>
                   </ul>
                </li>
              </ul>
              <div class="login d-flex" >
                  <button ><a href="#" style="margin: 0 15px;">Login</a></button>
                  <i class="fas fa-toggle-off" style="font-size: 30px; margin: 5px;"></i>
              </div>
          </div>
      </div>
  </header>

<script>
  
</script>

  