<%- include("partials/header"); -%>

<br><br><br><br><br><br>
<div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle mediun shade4'></div>
    <div class='circle small shade5'></div>
  </div>

  
  <div class="container1">
    
    <div class="content1">
      <h1>SOUNDLE</h1>
      <p>SOUNDLE is a non-profit movement empowering the DEAF_MUTE community and spreading the awareness for learning sign language among the people. 
          It is a platform to learn sign language and also for the DEAF_MUTE community to interact with each other.
    </p>
  
    </div>
   
    
    <div class="gif">
      <img src="https://c.tenor.com/yx0T8fYE-O8AAAAi/sign-language-awareness-brandnhucreative.gif" alt="gif" style="height:550px;width:550px;">
    </div>
  </div>
  <style>
     
     body
     {
      overflow-y: hidden;
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #f10439;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
  z-index: -100;
}
.shade2{
  opacity: 0.5;
  z-index: -100;
}

.shade3{
  opacity: 0.7;
  z-index: -100;
}

.shade4{
  opacity: 0.8;
  z-index: -100;
}

.shade5{
  opacity: 0.9;
  z-index: -100;
}

.container1
{
  display: flex;
  position:right;
  justify-content:space-around;
  flex-direction:row;
  margin: 20px;
  text-shadow: 2px;
  font-family: 'raleway',sans-serif;
}
@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}



.content1
{
  display: block;
  margin-left: 60px;
  margin-right: 60px;
   margin-top: 25px; 
  padding: 30px;
  font-size:27px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.gif
{
  margin-top:20px;
}


  </style>