<%- include("partials/header"); -%>
<br><br><br><br><br><br>

<div class="main_box">
<h3>LOGIN</h3>
<div>
    <h5>Username</h5>
    <input type="text">
</div>
<div>
    <h5>Password</h5>
    <input type="password">
</div>
<a>Forgot Password?</a>
<button class="btn btn-success">Login</button>
</div>

<style>
.main_box
{
    height: 300px;
    width: 500px;
    margin: auto;
    background-color: #e2e2e2b0;
    color:#236224;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
h3{
    margin-top: 15px;
    font-weight: 800;
}
h5
{
    font-weight: 500;
}
.main_box div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.btn
{
    width:90px;
    height: 45px;
    margin: auto;
    border: #236224;
    border-radius: 40px;
    font-weight: 800;
}
input
{
    border:1px solid #236224;
    background-color: #23622495;
}
a
{
    cursor: pointer;
    margin: 5px;
}

</style>

<script>
    
</script>