<%- include("partials/header"); -%>

<br><br><br><br><br><br>
<div class="main-box">
        <div class="left-box">
            <ul>
                <li id="posts-left-box" >
                    <a href="/create" class="a" id="getsupport">Create posts</a>
                </li>
                <li id="posts-left-box">
                    <a href="/post" id="getsupport"  >Feed</a>
                </li>
                <li id="posts-left-box">
                    <a href="/new" id="getsupport"  >My Posts</a>
                </li>
            </ul>
        </div>

        <div class="middle-box">
            <section class="post1">
                
                <img src="https://s35764.pcdn.co/wp-content/uploads/2021/09/career-pathing-2.png" height="150" width="150" style="border-radius:20px;">
                <ul>
                    <h4><b>Career decisions</b></h4>
                    <p style="text-align: left;">The truth is that our finest moments are most likely to occur when 
                        we are feeling deeply uncomfortable, unhappy, or unfulfilled. For it is only in such moments, 
                        propelled by our discomfort, that we are likely to step out of our ruts and start searching for 
                        different ways or truer answers.</p>
                        <button class="btn btn-success">Explore</button>
                </ul>
                
            </section>
            <section class="post1">
                
                <img src="https://www.psychologicalscience.org/redesign/wp-content/uploads/2019/01/GettyImages-902511322-609x419.jpg" height="150" width="150" style="border-radius:20px;">
                <ul>
                    <h4><b>Self Worth</b></h4>
                    <p style="text-align: left;">
                        <q>You can be the most beautiful person in the world and everybody sees light and rainbows 
                        when they look at you, but if you yourself don't know it, all of that doesn't even matter. 
                        Every second that you spend on doubting your worth, every moment that you use to criticize 
                        yourself; is a second of your life wasted, is a moment of your life thrown away. It's not 
                        like you have forever, so don't waste any of your seconds, don't throw even one of your 
                        moments away.</q>
                        .</p>
                        <button class="btn btn-success">Explore</button>
                </ul>
                
            </section>

            <section class="post1">
                
                <img src="https://d1vcqlflm6aitx.cloudfront.net/images/800x100p/1557364192-work_while_you_study_banner.webp" height="150" width="150" style="border-radius:20px;">
                <ul>
                    <h4><b>Study Motivation</b></h4>
                    <p style="text-align: left;">
                        <q>When we study, we often struggle to get motivated. We know we need to get going, but it’s
                             just so hard to get up and pick up the books.What could help is reading inspirational
                              quotes from famous, successful people to motivate and inspire you to put in that extra
                               10% effort.We did an extended worldwide search for notable quotations from famous and
                                inspirational figures and compiled this extensive list of motivational quotes for
                                 students.</q>
                        .</p>
                        <button class="btn btn-success">Explore</button>
                </ul>
                
            </section>
        </div>
</div>


<style>
    body{
        background-color: whitesmoke;
    }
    h4,.btn
    {
        margin-right: 15px;
    }
</style>
</body>