<%- include("partials/header"); -%>
<br><br><br><br><br><br>

<div class="box">
    <h2 style="color: white; margin: 20px;">Everyday Signs</h2>
<div class="signs">
<img src="https://media.giphy.com/media/3o7TKNKOfKlIhbD3gY/giphy.gif">
<img src="https://media.giphy.com/media/26FLchGgqamznV64E/giphy.gif">
<img src="https://media.giphy.com/media/l4JzaRsX52k8glIFa/giphy.gif"> 
<img src="https://media.giphy.com/media/l4JzdrbDeU2lMMrde/giphy.gif">
<img src="https://media.giphy.com/media/l4Jz5WK4Uddr8KsSc/giphy.gif">
<img src="https://media.giphy.com/media/l0MYrlUnFtq25TQR2/giphy.gif">
</div>
</div>

<style>
    .signs
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px;
    }
    img{
        margin: 20px;
    }
</style>